/**** General *****/

body {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

/**** Header *****/

.header {
  background-image: url("../Images/the-flatiron-building.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 2% 98%;
  padding-bottom: 3px;
  color: white;
}

ul {
  list-style-type: none;
  font-weight: bold;
}

li {
  margin-bottom: 15px;

}

li a {
  color: white;
  display: block;
}


/**** Main ****/

.process img, .understand img, .execute img {
  margin-top: 10px
}

.process p, .understand p, .execute p {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

/**** Header-2 ****/

.header-2 {
  background-image: url("../Images/the-flatiron-building.png");
  color: white;
}

/**** Footer ******/

.footer {
  text-align: left;
  background: dimgray;
  font-size: 11px;
  color: white;
}

.footer p {
  display: inline;
}

.footer a {
  color: white;
  margin-left: 5px;
}

.copy {
  padding-left: 5px;
}
